h1 {
    color: #7886ca;
}

/* Formateo titulo página paquinas pequeñas */
@media only screen and (max-width: 600px) {
 h1{
  font-size: 3.7rem !important;
  text-align: center;
 }
}

/* Margen del logo para pantallas grandes (no me pescó) */
.m-logo {
    margin-left: 15px;
    
}

/* Formateo logo empresa en pantallas pequeñas */
@media only screen and (max-width: 600px) {
  .brand-logo {
    font-size: 1.7rem !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
}

/* label underline focus color form */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    border-bottom: 1px solid #7886ca !important;
    box-shadow: 0 1px 0 0 #7886ca !important;
}

/* label focus color form*/
input[type="text"]:focus+label,
input[type="email"]:focus+label,
input[type="password"]:focus+label {
    color: #7886ca !important;
    font-weight: bold !important;
}

/* Día seleccionado */
.datepicker-date-display {
  background-color: #7886ca !important;
  color: #f5f5fa !important;
}

/* Color de los botones */
.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
  color: #7886ca !important;
  font-weight: bolder;
}

/* Fecha del calendario , lo movemos un poco por que en español
no se ven bien los nombres*/

.datepicker-controls .select-dropdown.dropdown-trigger {
  width: 50px !important;
  min-width: 100px !important;
}

/* Cambiando colores de los valores del dropdown del datepicker*/
.datepicker-controls .dropdown-content li > a,
.datepicker-controls .dropdown-content li > span {
  color: #7886ca !important;
  font-weight: bold;
}

/* Cambia el color de los valores de año en el dropdown del datepicker */
.dropdown-content.select-dropdown li > span {
  color: #7886ca !important;
}

/* Cambiamos color de botones cuando son presionados */
.month-prev:active, .month-next:active {
    background-color: #7886ca;

}

/* Cambia el color de fondo del footer */
.page-footer {
  background-color: #7886ca !important;
}

.toast {
  background-color: #7886ca !important;
  color: #fff !important;
  font-weight: bold;
}

.parsley-errors-list {
  color: #e53935;
  font-size: 0.9rem;
  margin-top: 4px;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}